@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

/***** page styling and coloring ******/

* {
    /* background-color: #eef2fb; */
    /* margin-right: 30px; */
    margin: 0;
}

/**************/

/* #top-div {
    background-color: #eef2fb;
    border: 2px solid #222627;
    padding: 10px;
}

header {
    background-color: #eef2fb;
}

#home-div {
    background-color: #eef2fb;
} */

/******* fonts: style, color and size *******/

h1,
header,
a,
p,
.link,
button,
input {
    color: #222627;
    font-family: "Architects Daughter", cursive;
    font-weight: normal;
    font-size: large;
}

main {
    background-color: black;
}

/* h1 {
    font-size: x-large;
    font-weight: normal;
    margin-top: 10px;
} */

/******* positioning *******/

/* main > * {
    margin: auto;
}

#top-div {
    width: 350px;
}

#home-div {
    display: flex;
    flex-direction: column;
}

#home-div > * {
    width: fit-content;
} */

/******* spacing *******/

/* .event-title {
    margin-left: 100px;
}

.contact-details {
    margin: 0;
} */

/******* navbar / photo *******/

#cover-photo {
    width: 100%;
    height: auto;
    display: block;
}

#navbar-div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#header-div {
    padding: 0;
    /* max-height: 80vh; try this to see content on loading */
    /* width: 100%;
    height: auto;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; */
}

#band-header {
    font-size: 80px;
}

.navbar-link {
    padding: 20px;
}

/******* hyperlink decoration *******/

a {
    color: white;
    text-decoration: none;
    /* cursor: crosshair; */
}

/* a:link,
a:visited {
    color: white;
}

a:hover,
a:active {
    color: white;
} */

/* background-color: #ccd4cd; */
/* display: inline-block; */
/* border-radius: 40%; */

/*********** store page *************/
.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.products img {
    width: 100%;
}

.product {
    padding: 40px;
}

button {
    font-size: 20px;
    padding: 10px;
}

#cart-header {
    background-color: grey;
    height: 70px;
    padding-top: 20px;
}
